body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(pexels-anete-lusina-5240548.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 24px;
}
h4{
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
}
.portfolio-item {
    margin-bottom: 30px;
}
.about h2{
    font-size: 29px;
    
}
.img-fluid {
    max-width: 400px;
    text-align: center;
    margin-left: 80px;
    border-radius: 4px;
}

.btn-branding {
    background:  #6c63ff;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 200px;

  }
  .icons{
    max-width: 40px;
    justify-content: space-between;
  }
  
  .talent{
    font-size: 48px;
    color: #712be2;
 margin-left: 200px;
   text-shadow: #6c63ff;
   text-decoration: underline;
   
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
